body {
    display: flex;
    flex-direction: column;
    
}

.header { 
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8
}

ul {
    list-style-type: none ;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
}

.container1 {
    background-color: #1f2937;
    display: flex;
    color:#F9FAF8;
    justify-content: space-around;
    padding: 150px;
}

.left-text {
    max-width: 500px;
    height: 250px;
}
.text1 {
    font-size: 48px;
    font-weight: 900;          
}
.text2 {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.box{
    background-color: rgb(122, 122, 122);
    width: 600px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}
.container2 {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.info{ 
    max-width: 150px;
}
.bluesquares {
    display:flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
}
.boxes {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
}

.text {
    color:rgb(82, 82, 82)
}

.container3 {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    padding: 100px 500px;
    
    
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 400;
    display: flex;
    flex-shrink: 1;
}
.quoter {
    font-weight: 900;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
}